<div class="static-page">
  <div class="left-menu-and-content-container">
    <div class="left-nav-menu">
      <%= render "shared/left_side_menu" %>
    </div>
    <div class="content-frame">
      <h1>Libbe - Bible reading, re-imagined</h1>

      <p>
        Three out of four Christians have not read the Bible.  Half have read only the most popular stories and verses.  The two most common objections are:

        <ul class="no-item-bottom-margins">
          <li>too hard to understand</li>
          <li>too long (especially for first time readers)</li>
        </ul>
      </p>

      <h2>Is this a test?</h2>

      <p>
        While every word is worth reading, the Bible is not meant to be read straight through from page one.  Though much of the text is arranged chronologically, some are grouped by subject, others by genre.  Reading the Bible cover to cover is like trying every item on a restaurant’s menu by first eating all of the appetizers, then spending a week on main courses, and finishing with a few days of desserts.  You may experience everything on the menu, but not as intended.
      </p>

      <h2>All or nothing?</h2>

      <p>
        Because the Bible attests to itself as “God-breathed and useful for teaching” (2 Timothy 3:16), most feel it’s an all or none proposition, and choose none.  It feels wrong to pick and choose; as if some parts are more valuable.
      </p>

      <p>
        But some texts are more valuable.  If you had a friend willing to spend a few hours exploring the Bible; would you advise they start anywhere, since it’s all of equal value?  Or would you direct them to particular texts (the life of Jesus, the creation account, Paul’s letter to the Romans…), to help them grasp the larger story, while stimulating their appetite for more?
      </p>

      <h2>Libbe addresses both objections</h2>

      <p>
        Libbe is unique in two ways:

        <ul class="no-item-bottom-margins">
          <li>
            Every Libbe plan arranges the various types of writings (story, poetry, law, prophecy …) into cohesive 15 minute daily readings.  Libbe follows the Bible chronologically, while adding Psalms and Proverbs relevant to the story at hand.  Prophetic books are read with the historical narratives they speak to.  This approach provides greater insight and understanding.
          </li>

          <li>
            In addition, each reading plan is targeted to a different level.  The largest plan covers the entire Bible; the smallest only 20%.  But even the smallest plan is carefully curated to overview the Bible’s entire revelation; covering more than many Christians read in their lifetime.
          </li>
        </ul>
      </p>

      <%= render "shared/react_component", name: "PlansCarousel" %>

      <h2>Is Libbe for me?</h2>

      <p>
        Libbe was designed for Bible readers at every level.

        <ul class="no-item-bottom-margins">
          <li>If you have never read the Bible, Libbe is for you.</li>
          <li>If you tried, but got bogged down and gave up, Libbe is for you.</li>
          <li>If you’ve read the Bible, but want it to feel new again, Libbe is for you.</li>
          <li>If you know the Bible well, but want to experience each story, song, or proverb in a way that brings them to life again, Libbe is for you.</li>
        </ul>
      </p>

      <p>Libbe is free.  We are nonprofit; nothing is for sale, including our user’s data.  We have one goal: to make the Bible accessible.</p>

      <p>Starting a plan requires you share only a text number or email, to receive your daily notification.  Libbe will contact you for no other reason.  When you complete your plan (or if you choose to stop early), your information is deleted from our system.</p>

      <p>Libbe was created for you.</p>

      <p>
        <a href="/diamonds/search" class="blue button">Start your free plan</a>
      </p>
    </div>
  </div>
</div>
