<header class="page-header clearfix">
  <a href="/" class="logo">
    <%= image_tag "/images/header/logo.png", alt: "Libbe Bible", class: "logo--image" %>
  </a>
  <div class="top-nav-right-section">
    <nav class="main-menu">
      <%= render "shared/react_component", name: "MobileNav", prerender: true %>
      <ul>
        <li>
          <a href="/" title="Home">Home</a>
        </li>
        <li>
          <a href="#" title="Sign Up">Sign Up</a>
        </li>
        <li>
          <a href="#" title="The 4 Plans">The 4 Plans</a>
        </li>
        <li>
          <a href="#" title="About Us">About Us</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
